body {
    background-color: #f0f0f0;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}

body.splotchy.build-ok {
    background-image: url('../img/LT_SplotchyDuotone_04.JPG');
}

body.splotchy.build-unstable {
    background-image: url('../img/LT_SplotchyDuotone_01.JPG');
}

body.splotchy.build-error {
    background-image: url('../img/LT_SplotchyDuotone_05.JPG');
}

body.grunge.build-ok {
    background-image: url('../img/LT_SubtleGrunge_04.jpg');
}

body.grunge.build-unstable {
    background-image: url('../img/LT_SubtleGrunge_06.jpg');
}

body.grunge.build-error {
    background-image: url('../img/LT_SubtleGrunge_07.jpg');
}

.ui-widget-overlay {
    z-index: 9999;
}

.ui-icon[class^="icon-"],.ui-icon[class*=" icon-"] {
    text-indent: 0px;
    width: 32px;
}

.grid-elt {
    text-align: center;
    overflow: hidden;
}

.grid-elt.widget-deleted {
    display: none;
}

.grid-elt-hover {
    z-index: 10000;
}

.grid-elt-ico {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
}

.grid-elt-more {
    position: absolute;
    top: 30px;
    left: 0px;
    text-align: right;
    width: 23%;
}

.grid-elt-ico .ico {
    font-size: 20px;
}

.grid-elt-ico-label {
    text-transform: lowercase;
}

.grid-elt-title {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}

.widget-detailed {
    display: none;
}

.grid-elt-content {
    position: absolute;
    top: 30px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.grid-elt-hover .grid-elt-content {
    left: 25%;
}

.grid-elt h1, .grid-elt h2, .grid-elt h3 {
    color: #999999;
    text-decoration: none;
    text-align: right;
    padding-left: 5px;
    overflow: hidden;
}

.clickable {
    cursor: pointer;
}

tr.build {
    height: 20px;
}

tr.build td {
    vertical-align: middle;
}

tr.build td img {
    vertical-align: middle;
}

.ui-table th, .ui-table td {
    padding-left: 10px;
    padding-right: 10px;
}

#left-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 140px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: right;
}

a, a:visited{
    color: #000099;
}

a:hover {
    color: #3333CC;
}

#owaka {
    position: absolute;
    top: 10px;
    left: 100px;
}

#owaka h1 {
    background-image: url('../img/owaka-vertical.png');
    height: 120px;
    width: 32px;
    display: block;
    text-indent: 99999px;
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 140px;
    left: 0px;
    right: 0px;
    margin: 10px;
}

#menu-bottom {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    margin: 10px;
}

#menu-bottom-advanced {
    display: none;
}

#menu-bottom img {
    vertical-align: text-top;
}

#top-panel {
    position: fixed;
    top: 0px;
    left: 140px;
    right: 0px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#grid.sample {
    margin-left: 340px;
}

#list_widgets {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 200px;
    overflow-x: hidden;
    padding-left: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#widget_details {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 200px;
    display: none;
    padding-left: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.ui-form fieldset {
    border-bottom: 1px solid #999999;
}

.ui-form legend {
    font-weight: bold;
}

.ui-form label {
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}

.ui-form div.field {
    margin-bottom: 10px;
}

.ui-form div.details {
    font-size: 90%;
}

.ui-form span.details {
    font-size: 90%;
    padding-left: 10px;
}

/* override fonts of jquery ui */
.ui-widget, .ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button, .wijmo-wijmenu .wijmo-wijmenu-item input  {
    font-family: 'Source Sans Pro', sans-serif;
}

/* override colors of jquery-ui */

.ui-widget-content a, .ui-widget-header a {
    color:#222222;
}

.ui-widget-content a:hover, .ui-widget-header a:hover {
    color: #555555;
}

.ui-state-default a {
    color: #555555;
}

.ui-state-default a:hover {
    color: #888888;
}

.ui-state-active a {
    color: #212121;
}

.ui-state-active a:hover {
    color: #545454;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #393939;
}

.ui-state-highlight a:hover, .ui-widget-content .ui-state-highlight a:hover, .ui-widget-header .ui-state-highlight a:hover {
    color: #696969;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #EEEEEE;
}

.ui-state-error a:hover, .ui-widget-content .ui-state-error a:hover, .ui-widget-header .ui-state-error a:hover {
    color: #BBBBBB;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    margin-bottom: 0px;
}

a.ui-state-error-text {
    color: #cd0a0a;
}

a.ui-state-highlight-text {
    color: #363636;
}

a.ui-state-error-text:hover {
    color: #ff3c3c;
}

a.ui-state-highlight-text:hover {
    color: #696969;
}
.ui-widget-overlay {
    position: fixed;
}

a.ui-button, a.ui-button-danger, a.ui-button-error, a.ui-button-info, a.ui-button-inverse, a.ui-button-primary, a.ui-button-success {
    text-decoration: none;
    color: #FFFFFF;
}
