/nbproject/private/
/img/LT_SubtleGrunge_07.psd
/application/reports/
/private/build/tmp/
/img/freepik2/
/private/build/local.properties
/private/build/test.properties
/private/build/prod.properties
/private/build/build.properties
/private/build/test_public.properties